@font-face {
  font-family: 'GuarujaNeue';
  src: url('../fonts/GuarujaNeue-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GuarujaNeue';
  src: url('../fonts/GuarujaNeue-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GuarujaNeue';
  src: url('../fonts/GuarujaNeue-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GuarujaNeue';
  src: url('../fonts/GuarujaNeue-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GuarujaNeue';
  src: url('../fonts/GuarujaNeue-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'GuarujaNeue';
  src: url('../fonts/GuarujaNeue-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GuarujaNeue';
  src: url('../fonts/GuarujaNeue-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GuarujaNeue';
  src: url('../fonts/GuarujaNeue-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GuarujaNeue';
  src: url('../fonts/GuarujaNeue-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}